<div class="container-lg mt-5"
  *ngIf="reservation"
>
  <div class="card">
    <h1 class="card-header">{{reservation?.name}}
      <fa-icon
        *ngIf="currentUser"
        (click)="deleteReservation(reservation)"
        [ngStyle]="{'color':'#f00','float':'right', 'margin':'0px 10px'}"
        [icon]="faDelete"
        class="pointer">
      </fa-icon>
      <fa-icon
        (click)="showAttendeesToggle(reservation)"
        [ngStyle]="{'color':'#00f','float':'right', 'margin':'0px 10px'}"
        [icon]="faPeopleGroup"
        class="pointer">
      </fa-icon>
      <fa-icon
        [icon]="faAddAttendee"
        [ngStyle]="{'color':'#e7c492','float':'right', 'margin':'0px 10px'}"
        class="pointer"
        (click)="openAddAttendeePage()"
        routerLink="/dashboard/attendees"
        [queryParams]="{id: reservation.id}"
      >
      </fa-icon>
      <fa-icon
        *ngIf="currentUser"
        (click)="showEditModalToggle(reservation)"
        [ngStyle]="{'color':'#0f0','float':'right', 'margin':'0px 10px'}"
        [icon]="faPen"
        class="pointer">
      </fa-icon>
      <fa-icon
        (click)="showModalToggle(reservation)"
        [ngStyle]="{'color':'#ce2dce','float':'right', 'margin':'0px 10px'}"
        [icon]="faEye"
        class="pointer">
      </fa-icon>
    </h1>
    <div class="card-body">
      <h3>room: {{reservation?.room?.name}}</h3>
      <h2 class="card-title">
        <fa-icon [icon]="faClock"></fa-icon>
          {{reservation?.started_at}}<br>
        <fa-icon [icon]="faClock"></fa-icon>
          {{reservation?.finished_at}}
      </h2>
      <p class="card-text">{{reservation?.status}}</p>
      <h3 class="card-text">Host email: {{reservation?.host?.email}}</h3>
    </div>
  </div>
</div>
