<div class="container-lg mt-5">
  <div class="card">
    <h5 class="card-header">{{reservation?.name}}
      <fa-icon
        (click)="deleteReservation(reservation)"
        [ngStyle]="{'color':'#f00','float':'right'}"
        [icon]="faDelete"
        class="pointer">
      </fa-icon>
    </h5>
    <div class="card-body">
      <h5 class="card-title">
        <fa-icon
          [icon]="faClock"
        >
        </fa-icon>{{reservation?.startedAt}}<br>
        <fa-icon
          [icon]="faClock"
        >
        </fa-icon>{{reservation?.finishedAt}}
      </h5>
      <p class="card-text">{{reservation?.status}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
