<div class="container mt-5">
  <button class="btn btn-outline-success text-center"
          (click)="toggleInsertReservationModal()"
  >Add new reservation here!</button>
</div>
<app-reservation-item
  *ngFor="let reservation of reservations"
  [reservation]="reservation"
  (deleteReservationTask)="deleteReservationById(reservation)"
  (onShowModal)="onModalToggle($event)"
  (onShowEditModal)="onEditModalToggle(reservation)"
></app-reservation-item>
<app-modal-reservation
  *ngIf="regularModalVisible"
  [reservation]="selectedReservation"
  (onDeleteTrigger)="deleteTrigger($event)"
  (close)="regularModalVisible=false"
></app-modal-reservation>
<app-edit-reservation
  *ngIf="editModalVisible"
  [reservation]="selectedReservation"
  (close)="editModalVisible=false"
  (submit)="onSubmitEditForm($event)"
></app-edit-reservation>
<app-modal-new-reservation
  *ngIf="insertModalVisible"
  (close)="insertModalVisible=false"
  (onAddReservation)="addNewReservation($event)"
>
</app-modal-new-reservation>
