<app-reservation-item
  *ngFor="let reservation of reservations"
  [reservation]="reservation"
  (deleteReservationTask)="deleteReservationById(reservation)"
  (onShowModal)="onModalToggle(reservation)"
  (onShowEditModal)="onEditModalToggle($event)"
></app-reservation-item>
<app-modal-reservation
  *ngIf="regularModalVisible"
  [reservation]="selectedReservation"
  (onDeleteTrigger)="deleteTrigger($event)"
  (close)="regularModalVisible=false"
></app-modal-reservation>
<app-edit-reservation
  *ngIf="editModalVisible"
  [reservation]="selectedReservation"
  (close)="editModalVisible=false"
></app-edit-reservation>
