<div class="container mt-5">
  <button class="btn btn-outline-success text-center make-some-space"
          *ngIf="currentUser"
          (click)="toggleInsertReservationModal()"
  >Add new reservation here!
  </button>
  <button class="btn btn-outline-success text-center make-some-space"
          (click)="toggleReservationSearchComponent()"
          [ngClass]="searchReservationComponentVisible?'search-toggled':'btn-outline-success'"
  >Filters
  </button>
</div>

<app-search-reservation
  *ngIf = "searchReservationComponentVisible"
  (showReservationSearch)="toggleReservationSearchComponent()"
  (searchOnSubmit)="searchReservation($event)">
  </app-search-reservation>

<app-reservation-item
  *ngFor="let reservation of reservations"
  [reservation]="reservation"
  (deleteReservationTask)="deleteReservationById(reservation)"
  (onShowModal)="onModalToggle($event)"
  (onShowEditModal)="onEditModalToggle(reservation)"
  (onShowAttendeesToggle)="toggleAttendeesModal($event)">
</app-reservation-item>

<app-modal-reservation
  *ngIf="regularModalVisible"
  [reservation]="selectedReservation"
  (onDeleteTrigger)="deleteTrigger($event)"
  (close)="regularModalVisible=false"
>
</app-modal-reservation>

<app-edit-reservation
  *ngIf="editModalVisible"
  [reservation]="selectedReservation"
  (close)="editModalVisible=false"
  (submit)="onSubmitEditForm($event)"
></app-edit-reservation>

<app-modal-new-reservation
  *ngIf="insertModalVisible"
  (close)="insertModalVisible=false"
  (onAddReservation)="addNewReservation($event)"
></app-modal-new-reservation>

<ng-container *ngIf="attendeesModalVisible">
  <app-reservation-attendee
    *ngFor="let reservation of reservations"
    [reservation]="selectedReservation"
    [attendees]="selectedAttendees"
    (close)="attendeesModalVisible=false"
  ></app-reservation-attendee>
</ng-container>


