<div class="container-lg mt-5">
  <div class="card">
    <h1 class="card-header">Room #{{room?.id}}
      <fa-icon
        (click)="showEditModalToggle()"
        [ngStyle]="{'color':'#000','float':'right', 'margin':'0px 10px'}"
        [icon]="faPencil"
        class="pointer">
      </fa-icon>
      <fa-icon
        (click)="onDelete(room)"
        [ngStyle]="{'color':'#f00','float':'right'}"
        [icon]="faDelete"
        class="pointer">
      </fa-icon>
      <fa-icon
        (click)="showModalToggle(room)"
        [ngStyle]="{'color':'#000','float':'right', 'margin':'0px 10px'}"
        [icon]="faEye"
        class="pointer">
      </fa-icon>
    </h1>
    <div class="card-body">
      <h1 class="card-title">{{room?.name}}</h1>
      <p class="card-text no-margin">Located at {{room?.location}}</p>
      <p class="card-text no-margin">Capacity {{room?.capacity}}</p>
      <label for="tvCheckbox">tv</label>
      <input [checked]="room?.tv" id="tvCheckbox" type="checkbox" disabled><br>
      <label for="whiteboardCheckBox">white board</label>
      <input [checked]="room?.whiteboard" id="whiteboardCheckBox" type="checkbox" disabled><br>
      <label for="videocallCheckbox">video call</label>
      <input [checked]="room?.videocall" id="videocallCheckbox" type="checkbox" disabled><br>
      <a routerLink="/reservation" class="btn btn-primary me-3">Make</a>
    </div>
  </div>
</div>
