<div class="modal" tabindex="-1" [ngStyle]="{'display' : 'block'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header insert-new-itemmodal-normal-header">
        <h1>Make new reservation</h1>
        <button type="button"
                class="btn-close move-right"
                id="close-button-new"
                data-bs-dismiss="modal"
                aria-label="Close"
                (click)="onClose()"
        ></button>
      </div>
      <div class="modal-body">
        <form class="add-form" (ngSubmit)="onSubmit()">
          <label>start time</label>
          <input type="datetime-local" name="startedAt" [(ngModel)]="startedAt" id="started_at"><br>
          <label>finish time</label>
          <input type="datetime-local" name="finishedAt" [(ngModel)]="finishedAt" id="finished_at"><br>
          <label>Name</label>
          <input type="text" name="reservationName" [(ngModel)]="name" id="name"><br>
          <label>Status</label>

          <select name="status" [(ngModel)]="status" id="status">
            <!--            <option>active</option>-->
            <option>inactive</option>
            <option>waiting</option>
            <option>canceled</option>
          </select><br>
          <label>Room</label>
          <select [(ngModel)]="room" name="room"
          >
            <option
              *ngFor="let room of rooms"
              [ngValue]="room.id">
              {{room.name}}
            </option>
          </select>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
