<div class="modal" tabindex="-1" [ngStyle]="{'display' : 'block'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header insert-new-item modal-normal-header">
        <h1>Make new reservation</h1>
        <button type="button"
                class="btn-close move-right"
                id="close-button-new"
                data-bs-dismiss="modal"
                aria-label="Close"
                (click)="onClose()"
        ></button>
      </div>
      <div class="modal-body">
        <form class="add-form" (ngSubmit)="onSubmit()" [formGroup]="newReservationForm">
          <label>start time</label>
          <input type="datetime-local" name="startedAt" formControlName="startedAt" id="started_at"><br>
          <label>finish time</label>
          <input type="datetime-local" name="finishedAt" formControlName="finishedAt"
                 min="{{newReservationForm.get('startedAt')?.value}}" id="finished_at"><br>
          <label>Name</label>
          <input type="text" name="reservationName" formControlName="name" id="name"><br>
          <label>Room</label>
          <select formControlName="roomId" name="room">
            <option
              *ngFor="let room of rooms$|async"
              [ngValue]="room.id">
              {{room.name}} | {{room.capacity}}
            </option>
          </select>
<!--          <pre>-->
<!--            {{newReservationForm.value | json}}-->
<!--          </pre>-->
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
