<div class="modal" tabindex="-1" [ngStyle]="{'display' : 'block'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p>Search for attendees and add them!</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="onClose()"
        ></button>
      </div>
      <div class="modal-body modal-center-items">
        <app-attendees-autocomplete class="above-modal">
        </app-attendees-autocomplete>


      </div>
    </div>
  </div>
</div>
