<div class="modal" tabindex="-1" [ngStyle]="{'display' : 'block'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p>Search for attendees and add them!</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="onClose()"
        ></button>
      </div>
      <div class="modal-body">
<!--        {{attendees|json}}-->
<!--        <form class="example-form">-->
<!--          <mat-form-field class="example-full-width" appearance="fill">-->
<!--            <mat-label>Number</mat-label>-->
<!--            <input type="text"-->
<!--                   placeholder="Pick one"-->
<!--                   aria-label="Number"-->
<!--                   matInput-->
<!--                   [formControl]="myControl"-->
<!--                   [matAutocomplete]="auto">-->
<!--            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">-->
<!--              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">-->
<!--                {{option}}-->
<!--              </mat-option>-->
<!--            </mat-autocomplete>-->
<!--          </mat-form-field>-->
<!--        </form>-->

      </div>
    </div>
  </div>
</div>
