<app-user-item
  *ngFor="let user of users"
  (onDeleteUser) = "deleteUser(user)"
  [user]="user"
  (onShowModalUser)="onModalToggle($event)"
  (onShowEditModal)="editModalToggle(user)"
></app-user-item>
<app-modal-user
  *ngIf="regularModalVisible"
  [user]="selectedUser"
  (onDeleteTrigger)="deleteTrigger($event)"
  (close)="regularModalVisible=false"
></app-modal-user>
<app-search-user
*ngIf="searchUserComponentVisible"
(showUserSearch)="toggleSearchUser()"
(searchOnSubmit)="searchUser($event)"
></app-search-user>
<app-edit-user
  *ngIf="editModalVisible"
  [user]="selectedUser"
  (close)="editModalVisible=false"
  (submit)="onSubmitEditForm($event)"
></app-edit-user>
