<div class="container mt-5">

  <button class="btn btn-outline-success text-center make-some-space"
          (click)="toggleAttendeeSearchComponent()"
          [ngClass]="searchAttendeeModalVisible?'search-toggled':'btn-outline-success'"
  >Add attendees
  </button>
</div>
<app-attendee-item
  *ngFor="let attendee of attendees"
  [attendee]="attendee"
></app-attendee-item>
<app-pending-attendee
  *ngFor="let pendingAttendee of pendingAttendees"
  [pendingAttendee]="pendingAttendee"
></app-pending-attendee>

<app-attendee-search-modal
  *ngIf="searchAttendeeModalVisible"
  (close)="searchAttendeeModalVisible=false"
  (onAddUserToReservation)="addUserToReservation($event)"
  [capacity]="getCapacity()"
  [sumOfAttendees]="getSumOfAttendees()"
>
</app-attendee-search-modal>
