<div class="container-lg mt-5">
  <div class="card">
    <h1 class="card-header">{{user?.firstName}} {{user?.lastName}}
      <fa-icon
        (click)="showEditModalToggle()"
        [ngStyle]="{'color':'#000','float':'right', 'margin':'0px 10px'}"
        [icon]="faPencil"
        class="pointer">
      </fa-icon>
      <fa-icon
        (click)="onDelete(user)"
        [ngStyle]="{'color':'#f00','float':'right'}"
        [icon]="faDelete"
        class="pointer">
      </fa-icon>
      <fa-icon
        (click)="showModalToggle(user)"
        [ngStyle]="{'color':'#000','float':'right', 'margin':'0px 10px'}"
        [icon]="faEye"
        class="pointer">
      </fa-icon>
    </h1>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">Email: {{user?.email}}</p>
      <p class="card-text">Phone: {{user?.phone}}</p>
      <a href="#" (click)="onClickMakeReservation" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

