<div class="container mt-5">
<button class="btn btn-outline-success text-center make-some-space"
        *ngIf="currentUser"
        (click)="toggleInsertRoomModal()"
>Add new room here!</button>
  <button class="btn btn-outline-success text-center make-some-space"
  (click)="toggleRoomSearch()"
  [ngClass]="searchRoomComponentVisible?'search-toggled':'btn-outline-success'"
  >
Filters
  </button>
</div>
<app-search-room
*ngIf = "searchRoomComponentVisible"
(showRoomSearch)="toggleRoomSearch()"
(searchOnSubmit)="searchRoom($event)"
>

</app-search-room>
<app-room-item
  *ngFor="let room of rooms"
  [room]="room"
  (onDeleteRoom)="deleteRoom(room)"
  (onShowModal)="onModalToggle($event)"
  (onShowEditModal)="editModalToggle(room)"
></app-room-item>
<app-modal-temp
  *ngIf="regularModalVisible"
  [room]="selectedRoom"
  (onDeleteTrigger)="deleteTrigger($event)"
  (close)="regularModalVisible=false"
></app-modal-temp>
<app-edit-room
  *ngIf="editModalVisible"
  [room]="selectedRoom"
  (close)="editModalVisible=false"
  (submit)="onSubmitEditForm($event)"
></app-edit-room>
<app-modal-new-room
  *ngIf="insertModalVisible"
  (close)="insertModalVisible=false"
  (onAddRoom)="addNewRoom($event)"
>
></app-modal-new-room>
