<div class="container-lg">

  <ng-container *ngIf="userComingReservation?.length!=0 ; else noComingReservations">
    <app-user-coming
      *ngFor="let reservationComing of userComingReservation"
      [reservation]="reservationComing">
    </app-user-coming>
  </ng-container>

  <ng-template #noComingReservations>
    <div class="2-flex p-2">
      <h1 class="text-center m-2">Nemate zakazane sastanke</h1>
    </div>
  </ng-template>


  <ng-container *ngIf="userPendingReservation?.length!=0; else noPendingReservations">
    <h1 class="text-center">Sastanci na koje ste pozvani, molim Vas odgovorite na poziv</h1>
    <app-user-invite
      *ngFor="let reservationPending of userPendingReservation"
      [reservation]="reservationPending">
    </app-user-invite>
  </ng-container>

  <ng-template #noPendingReservations>
    <div class="2-flex p-2">
      <h1 class="text-center m-2">Nemate pozive za sastanke</h1>
    </div>
  </ng-template>
</div>

<!--
*ngFor="let user of userComingReservation|async"
*ngFor="let user of userPendingReservation|async"
-->
