<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link btn-outline-info rounded-3" routerLink="">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link btn-outline-info rounded-3" routerLink="/dashboard/user">Users</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link btn-outline-info rounded-3" routerLink="/dashboard/reservation">Reservations</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link btn-outline-info rounded-3" routerLink="/dashboard/room">Rooms</a>
      </li>
      <!--      <li class="nav-item">-->
      <!--        <a class="nav-link disabled" href="#">Disabled</a>-->
      <!--      </li>-->
    </ul>
  </div>
  <div>
    <a
      *ngIf="currentUser"
      routerLink="profile"
      class="btn m-right-10 some-blue-bg"
      >
      My page
    </a>
    <a
      *ngIf="!currentUser"
      routerLink="login"
      class="btn btn-primary"
    >Login</a>
    <a
      *ngIf="currentUser"
      routerLink="login"
      class="btn btn-danger"
      (click)="logOut()">LogOut</a>
  </div>
</nav>
