/* You can add global styles to this file, and also import other style files */
.container{
  display: flex;
  justify-content: center;
}

.dashboard-container{
  border: 2px solid #000;
  height:80vh;
  width: 900px;
}

.be-smaller-please{
  display: flex;
  justify-content: space-around;
  width: 900px;
}

.mb2{
  margin-bottom: 20px;
}

.mt2{
  margin-top: 20px;
}

.no-margin{
  margin-bottom: 5px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.upd-btn-color{
  background-color: #2bda91;
  border:1px solid #2bda91;
  color:#000;
}
