/* You can add global styles to this file, and also import other style files */
.container{
  display: flex;
  justify-content: center;
}

.dashboard-container{
  border: 2px solid #000;
  height:80vh;
  width: 900px;
}

.be-smaller-please{
  display: flex;
  justify-content: space-around;
  width: 900px;
}

.mb2{
  margin-bottom: 20px;
}

.mt2{
  margin-top: 20px;
}

.no-margin{
  margin-bottom: 5px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.upd-btn-color{
  background-color: #2bda91;
  border:1px solid #2bda91;
  color:#000;
}

.insert-new-item{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.insert-new-item input, select{
  margin-top: 10px;
}

#close-button-new-res{
  float:right;
}

.modal-normal-header{
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.make-some-space{
  margin:20px;
}

.filter-label{
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
}

.search-section{
  border:1px solid #a19c9c;
  border-radius: 10px;
  padding: 10px;
  background-color: #F0EEE6;
}

#h4-reservation-search{
  font-size: 18px;
  font-weight: 500;
  margin: 5px 10px;
}

.search-toggled{
  background-color: #198754;
  color:#fff;
}

.duration-div{
  /*border: 4px solid;*/
  border-radius: 10px;
  padding: 10px 0;
  margin:20px 3px;
  display: flex;
  justify-content: space-around;
}
.duration-bg{
  background: linear-gradient(90deg, rgba(22,147,89,1) 0%, rgba(220,53,69,1) 100%);
}

.duration-item{
  display: flex;
  justify-content: center;
}

.filter-submit-section{
  display:flex;
  justify-content: center;
}

.filter-submit-section button{
  margin:0 20px;
}

.search-form *{
  margin:5px;
  padding: 10px;
}

.clear-filters-button{
  background-color: #fca503;
  color:#fff;
}


#card-header-color{
  background-color: #4faf1f !important;
}

.bg-pending{
  background-color: #e1c953 !important
}

.autocomplete{
  padding: 5px 20px;
}

.autocomplete-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.z-index-smaller{
  z-index: 500;
}

.autocomplete-full-width{
  width: 100%;
}

.pointer{
  cursor: pointer;
}

.room-reservation-item{
  padding: 10px 20px;
  margin-bottom: 5px;
}

.expired{
  border-left: 3px solid #e76e6e;
}

.not-expired{
  border-left: 3px solid #4ece46;
}

.modal-center-items{
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.autocomplete-form input{
  padding: 5px;
  width:340px;
}

.above-modal{
  z-index: 10000;
}

.buttonAddUserToReservation{
  font-size: 14px;
  padding:2px 10px;
  border-radius: 8px;
  background-color: #efd19b;
  color: #231414;
  border:1px groove #000;
  float:right;
}

.m-right-10{
  margin-right:10px;
}

.float-right{
  float:right;
}

.some-blue-bg{
  background-color: #7eaed3;
}

.no-today-reservations{
  min-height: 70vh;
  display:flex;
  justify-content: center;
  align-items: center;

}

.no-today-reservations p{
  font-size: 20px;
}

/*animations*/

.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.swing-out-top-bck {
  -webkit-animation: swing-out-top-bck 0.45s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
  animation: swing-out-top-bck 0.45s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
}

.bounce-in-top {
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
}

/*keyframes for animations*/

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes swing-out-top-bck {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
