<div class="modal" tabindex="-1" [ngStyle]="{'display' : 'block'}"
  *ngIf="reservation"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header insert-new-itemmodal-normal-header">
        <h1>Attendees on the meeting for reservation {{reservation?.id}}</h1>
        <button type="button"
                class="btn-close move-right"
                id="close-button-new"
                data-bs-dismiss="modal"
                aria-label="Close"
                (click)="onClose()"
        ></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
          <tr>
            <th>Name of Attende</th>
            <th>Email</th>
            <th>Arrive</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let attendee of attendees">
            <th>{{attendee?.firstName}} {{attendee?.lastName}}</th>
            <th>{{attendee?.email}}</th>
            <th>Tu ide status</th>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
<!--        <app-attendees-autocomplete></app-attendees-autocomplete>-->
<!--        <button class="btn btn-success" (click)="showAttendeesList()">Add new attendee</button>-->
        <button
          class="btn clear-filters-button"
          routerLink="/dashboard/attendees"
          [queryParams]="{id: reservation.id}"
        >View more</button>
        <button class="btn btn-danger" (click)="onClose()">Close</button>
      </div>
    </div>
  </div>
</div>
